@import url(https://tarang-ui.netlify.app/stylesheets/main.css);

.tr-header{
    border-radius: 0;
    margin-bottom: 0;
}

main{
    padding: 0;
    margin-bottom: 5rem;
}

/* wave pattern  */
.wave {
    height: 5rem;
    bottom: -5rem;
    z-index: unset;
}
  
.hero{
    padding: var(--fluid-padding-lg);
}

.hero .hero-text-body{
    flex: 1 1 40rem;
}

.hero .hero-banner{
    flex: 1 1 20rem;
    position: relative;
    z-index: 1;
}