@import url('https://tarang-ui.netlify.app/stylesheets/main.css');
html{
    scroll-behavior: smooth;
}
body{
    --bs-lighter:2px 2px 10px 2px rgb(0 0 0 / 20%);
    --fluid-padding-lg: var(--space-sm) clamp(var(--space-sm), -0.875rem + 8.33vw, var(--space-xxlg));
    background-color: var(--tr-background);
    color: var(--tr-text);
    overflow: hidden scroll;
}

header,
main{
    padding: var(--fluid-padding-lg);
}

/* Utilities  */

.light-shadow{
    box-shadow: var(--bs-lighter);
}

.bg-success{
    background-color: var(--tr-success);
}

.bg-error{
    background-color: var(--tr-error);
}

.bg-warn{
    background-color: var(--tr-warn);
}

.bg-lighter{
    background-color: var(--tr-background-lighter);
}

.gap-xs{
    gap: var(--space-xs);
}

.mr-x-auto{
    margin-left: auto;
    margin-right: auto;
}

.hide{
    display: none;
}

.tr-input-item{
    background: var(--tr-background);
}

.txt-accent{
    color: var(--tr-accent-color);
}

.txt-white{
    color: var(--tr-white);
}

.theme-toggle-btn{
    background-color: var(--tr-text);
    color: var(--tr-background);
    bottom: 25px;
    right: 5px;
    z-index: 999;
}


/* Header  */

.tr-header{
    border-radius: 0;
    margin-bottom: 2rem;
}

.logo{
    width: clamp(15rem, 20vw, 20rem);
}

.tr-header .tr-input-wrapper{
    margin-left: auto;
    width: clamp(15rem, 30vw, 30rem);
}

.hamburger{
    display: none;
}

.header-menu{
    flex: 1;
}

/* Wave pattern  */
.wave {
    position: absolute;
    height: 4rem;
    width: 100vw;
    background: var(--tr-primary-color);
    bottom: -2rem;
    left: 0;
    z-index: -1;
}
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave::before {
    width: 55%;
    height: 109%;
    background-color: var(--tr-background);
    right: -1.5%;
    top: 60%;
  }
  .wave::after {
    width: 55%;
    height: 100%;
    background-color: var(--tr-primary-color);
    left: -1.5%;
    top: 40%;
  }


/* Icons  */

.tr-btn-icon i.fas{
    font-weight: 500 ;
}

/* Rules Modal  */

.tr-modal-wrapper{
    position: fixed;
    inset: 0;
    z-index: 999;
}

.rules-modal{
    width: 90%;
    max-width: 35rem;
    padding: var(--space-xlg);
}

.tr-modal-close-btn{
    position: absolute;
    top: 1.25rem;
    right: 2rem;
}


/* Footer  */

footer {
    min-height: 20vh;
    margin-top: var(--space-xlg);
    padding-top: var(--space-md);
    background-color: var(--tr-background);
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    text-align: center;
}


.footer-links {
    gap: var(--space-md);
    justify-content: center;
}

.footer-links .tr-btn {
    font-size: var(--fs-lg);
    color: var(--tr-accent-color);
}

footer p {
    margin-top: var(--space-md);
}

